/* CSS reset */
*{
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #dfebf7;
}

header{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;

}

header .header-title {
  background: linear-gradient(90deg, #5B21B6, #4d88cf);
  -webkit-background-clip: text;
    background-clip: text;
  color: transparent;
}


.main-container{
  background: #FFFFFF;
  width: 600px;
  height: 70vh;
  padding: 10px 20px;
  border-radius: 15px;
}

main .add-container{
  width: 100%;
  margin-bottom: 10px;
}

main .search-container{
  width: 100%;
}

.search-container .search{
  width: 100%;
  padding: 5px 10px;
  height: 40px;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid rgba(109, 108, 108, 0.37);
  outline: none;
}

.search-container .search:focus{
  outline: none;
  border-color: #5B21B6;
}

.list-container .list{
  list-style-position: inside;
}

main .add-container{
  width: 100%;
  height: 40px;
  align-items: stretch;
  display: flex;
  margin-top: 10px;
  gap: 10px;
  margin-bottom: 30px;
}

.add-container .add-input{
  flex: 1;
  outline: none;
  border: 1px solid rgba(109, 108, 108, 0.622);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 15px;
}

.add-container .add-input:focus {
  outline: none;
  border-color: #5B21B6;
}
.add-container .add-button{
  width: 100px;
  border-radius: 10px;
  border: 1px solid rgba(109, 108, 108, 0.61);
  font-weight: 600;
  color: white;
  background: #5B21B6;
}

.list{
  gap: 10px;
  display: flex;
  flex-direction: column;
}


.list .list-item{
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  padding: 0px 15px;
  border: 1px solid rgba(109, 108, 108, 0.61);
  border-radius: 10px;
}


.list-buttons{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.list__button{
  background: none;
  outline: none;
  border: none;
}

.list__icon{
  display: block;
  width: 20px;
  height: 20px;
}


/* 
Modal Style
*/

.modal{
  position: absolute;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.303);
  display: none;
  justify-content: center;
  align-items: center;
}


.modal-title{
  margin-bottom: 10px;
}

.modal .modal-title h3{
  color: #5B21B6;
  padding-top: 5px;
}

.modal .modal-content{
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  width: 300px;
}

.modal-content .modal-body input{
  width: 100%;
  padding: 10px;
  font-size: 15px;
  outline: none;
}

.modal-content .modal-body input:active {
  outline: none;
}
.modal-content .modal-body .modal-buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 10px;
}

.modal-body .modal-buttons button{
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #ffffff;
  background: #5B21B6;
}

.alert{
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 150px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  box-shadow:
      0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -4px rgba(0, 0, 0, 0.1),
      0 24px 48px -12px rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.alert--active{
  opacity: 1;
}

.alert__figure{
  width: 30%;
  height: 30%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.alert__image{
  height: 25px;
}

.alert__title{
  width: 50%;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}